body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRKEXs2tgFrcU394k-ZPoYwO5H7jU4OU-gbdcJIoWkem9kZbDpoBOTSb75OTK51gXjayk&usqp=CAU");
 
}

.header 
{
    background-color: #296d98;
    text-align: center;
    height: 100px;
    align-items: center;
    font-size: 39px;
    font-family: rockwell;
}



.recipe-list
{
    background-color: #e29747;
    width: 25%;
    font-family: rockwell;
    border-width: 10px;
    border-style: groove;
    padding: 10px;
    
} 

.recipe-detail
{
    flex-grow: 5;
    background-color:  #d67b1a;
    border-style: groove;
    border-width: 10px;
    padding: 10px;
}

.flex-container
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.comments-container
{
    display:flex; 
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    background-color: rgb(200, 192, 147);
    border-color: black;


    border: 2px solid #b3671c;
    padding: 10px;
    box-shadow: 6px 4px #643105;
}

.comments-section
{
    padding:5px;
    background-color: rgb(200, 192, 147);    
}

#recipe-image {
    height: 150px;
}

#container{
    width:50%;
}

form#recipe-form > input
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label{
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: black;
}

.submit-button
{
    background:#AA4A44;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

h2{
    font-weight: bold;
    font-size: 35px;
    color: white;
    margin-block:0px;
}

*{
    font-family: rockwell;
}

.btn{
    background-color: rgb(200, 192, 147);
    border-radius: 20px;
}
    
.deleteBtn
{
    font-size:1px;
}
