.top-bar
{
    background-color: #296d98;
    text-align: center;
    height: 100px;
    align-items: center;
    font-size: 39px;
}

.recipe-list
{
    background-color: #80b5bf;
    width: 25%;
}

.recipe-detail
{
    background-color: #a3d9b5;
    flex-grow: 5;

}

.flex-container
{
    display: flex;
    justify-content: flex-start;
}

.comments-container
{
    display:flex;
    flex-wrap: wrap;
    width: 50%;
}

.comments-section
{
    background-color: white;
    border-color: black;
}